@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.transactions{
    background-color: #0F131C; color: #DFE2EE;
}
header{
    display: flex; justify-content: space-between; align-items: center;
}
.Title-transacao{
    color: #DFE2EE;
    font-family: "Plus Jakarta Sans";
    
}
.nova-transacao{
    color: #0D0096; font-family: 'Inter'; font-weight: bold; text-decoration: none;
    background-color: #8083FF; padding: 10px 16px; border-radius: 10px;
}
.tds-title{
    font-family: "Inter"; font-weight: bold; font-size: 11px; padding: 0px 16px;
}
.tds-info{
    font-family: "Inter"; font-size: 11px;
    height: 100px;
}
.sem-transacao{
    font-family: "Inter"; font-size: 11px;
}
.descricao{
    padding: 16px 95px;
}
.desc-info{
    padding: 0px 95px;
}
.valor{
    padding: 16px 45.47px;
}
.valor-info{padding-left: 30px;}
.tipo{
    padding: 16px 45.6px;
}
.tipo-info{
    margin-left: 5px; text-align: center;
}
.categoria{
    text-align: center; margin: 16px 32.7px;
}
.category-info{
    display: flex; justify-content: center; align-items: center;
    background-color: #31353E; border-radius: 5px;
    padding: 3px 10px;
    margin-top: 40px;
}
.data{
    padding: 16px 46px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-info{
    padding-left: 16px;
}
.acoes{
    text-align: center;
    padding: 16px 56.8px;
}
.acoes-info{
    padding-left: 39.5px;
}
.div-detalhes{
    display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;
    background-color: #1C2028; padding-top: 10px; padding-bottom: 10px; border-radius: 5px;
}
.detalhes-transacao{
    color: #DFE2EE;
    text-decoration: none;
}
.Lixo{
    border: 0px;
    background-color: #0F131C;
    margin-left: 6px; margin-top: 2px;
}