@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.transactions{
    background-color: #0F131C; color: #DFE2EE; width: 100%; height: 100%;
}
header{
    display: flex; justify-content: space-between; align-items: baseline;
}
.Title-transacao{
    color: #DFE2EE;
    font-family: "Plus Jakarta Sans";
}
.subtitle{
    text-transform: uppercase; color: #70FFBA; font-family: "Inter"; font-weight: 500;
    background-color: #0E2828; padding: 2px 8px; border-radius: 10px; margin-left: 12px;
}
.title-and-info{display: flex; justify-content: center; flex-direction: column;}
.title-main{display: flex; align-items: center;}
.main-info{
    color: #C7C4D7; line-height: 60%;
    font-family: "Inter"; font-size: 14px;
}
.nova-transacao{
    color: #0D0096; font-family: 'Inter'; font-weight: bold; text-decoration: none;
    background-color: #8083FF; padding: 10px 16px; border-radius: 10px;
}
.tipo-filter, .categoria-filter{
    font-family: "Inter";
}
.table{background-color: #171B23; width: 100%; border-radius: 10px; margin-top: 24px;}
.tds-title{
    font-family: "Inter"; font-weight: bold; font-size: 11px; height: 50px;
}
.tds-info{
    font-family: "Inter"; font-size: 11px;
    height: 100px;
}
.sem-transacao{
    font-family: "Inter"; font-size: 11px;
}
.descricao{
    text-align: center;
    padding-left: 55px; padding-right: 55px;
}
.desc-info{
    display: flex; justify-content: center;
    font-size: 15px; font-family: "Plus Jakarta Sans";
}
.valor{text-align: center;}
.valor-info{text-align: center;}
.tipo{
    padding: 16px; text-align: center;
}
.tipo-info{
    text-align: center;
}
.categoria{
    text-align: center; margin: 8px 32.7px;
}
.category-info{
    text-align: center; display: flex; justify-content: center; align-items: center;
    background-color: #31353E; border-radius: 5px;
    padding: 3px 10px;
    margin-top: 40px;
}
.data{
    padding: 16px 46px; text-align: center;
}
.data-info{
    padding-left: 16px; text-align: center;
}
.acoes{
    text-align: center;
    padding-left: 16px;
}
.acoes-info{
    padding-left: 16px;
    display: flex; justify-content: center; align-items: center;
}
.div-detalhes{
    display: flex; justify-content: space-around; align-items: center; flex-direction: row;
    background-color: #1C2028; padding: 6px 10px; border-radius: 5px;
}
.detalhes-transacao{
    color: #DFE2EE;
    text-decoration: none;
}
.Lixo{
    border: 0px;
    background-color: #171B23;
}